:root {
  --pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --light-pink: hsl(275, 100%, 97%);
  --white: hsl(0, 0%, 100%);
  --dark-purple: hsl(292, 42%, 14%);
  --background-image-lg: url("../assets/images/background-pattern-desktop.svg");
  --background-image-sm: url("../assets/images/background-pattern-mobile.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: var(--pink);
  font-family: "Work Sans", sans-serif;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17rem;
  background-image: var(--background-image-lg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.accordion {
  background-color: var(--white);
  width: 95%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  min-height: 17rem;
  padding: 2rem 1rem;
  align-self: center;
}

.accordion-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}

.accordion-header h1 {
  font-size: 3.2rem;
  color: var(--dark-purple);
}

.accordion-items {
  padding: 0 1.5rem;
}
.item-title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.item-title h3 {
  font-size: 1.1rem;
  color: var(--dark-purple);
  transition: 0.2s ease-in-out;
}

.item-title h3:hover {
  color: #ad28eb;
}

.item-content p {
  color: var(--grayish-purple);
  font-weight: 400;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid var(--light-pink);
}

.item:last-child hr {
  display: none;
}
